In [1]:
import pandas as pd
import numpy as np 
import matplotlib
import matplotlib.pyplot as plt 
import seaborn as sns

In [2]:
games = pd.read_csv('steam-200k.csv')
games = games.rename({'151603712':'userId', 'The Elder Scrolls V Skyrim': 'gameName', '1.0':'Actions'}, axis = 1)
games.drop(['0'],axis = 1, inplace = True)

get a sense of the data

In [3]:
print("number of distinct users = %d" %games['userId'].nunique()) 
print("number of distinct games = %d" %games['gameName'].nunique()) 
games.head()

number of distinct users = 12393
number of distinct games = 5155

      userId                    gameName  purchase  Actions
0  151603712  The Elder Scrolls V Skyrim      play    273.0
1  151603712                   Fallout 4  purchase      1.0
2  151603712                   Fallout 4      play     87.0
3  151603712                       Spore  purchase      1.0
4  151603712                       Spore      play     14.9

In [4]:
# checking missing data in games 
total = games.isnull().sum().sort_values(ascending = False) # total number of missing values
percent = (games.isnull().sum()/games.isnull().count()*100).sort_values(ascending = False)
missing_games_data  = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
missing_games_data.head()

          Total  Percent
Actions       0      0.0
purchase      0      0.0
gameName      0      0.0
userId        0      0.0

we want to format data in a way such that each row get distinct pair of userId and gameName

In [5]:
games.head()

      userId                    gameName  purchase  Actions
0  151603712  The Elder Scrolls V Skyrim      play    273.0
1  151603712                   Fallout 4  purchase      1.0
2  151603712                   Fallout 4      play     87.0
3  151603712                       Spore  purchase      1.0
4  151603712                       Spore      play     14.9

In [6]:
# split the purchase column to two dataframes and perform an outer join to group highly duplicated row
games_temp = games[games['purchase'] == 'play']
games_temp =games_temp.rename({'purchase':'play'}, axis = 1)
games = games[games.purchase =='purchase']
games.drop(columns = 'Actions', inplace = True)
result = pd.merge(games,games_temp, how='outer', on=['userId','gameName'])

In [7]:
# reindex to group the data associated with the same user together
reindex_result = result.sort_values(by = 'userId')
reindex_result.set_index(np.arange(len(reindex_result.index)))

,userId,gameName,purchase,play,Actions
0,5250,Portal 2,purchase,play,13.6
1,5250,Cities Skylines,purchase,play,144.0
2,5250,Deus Ex Human Revolution,purchase,play,62.0
3,5250,Alien Swarm,purchase,play,4.9
4,5250,Team Fortress 2,purchase,play,0.8
5,5250,Dota 2,purchase,play,0.2
6,5250,Counter-Strike,purchase,NaN,NaN
7,5250,Counter-Strike Source,purchase,NaN,NaN
8,5250,Day of Defeat,purchase,NaN,NaN
9,5250,Half-Life,purchase,NaN,NaN
10,5250,Half-Life 2,purchase,NaN,NaN
11,5250,Deathmatch Classic,purchase,NaN,NaN
12,5250,Half-Life 2 Episode One,purchase,NaN,NaN
13,5250,Half-Life 2 Episode Two,purchase,NaN,NaN
14,5250,Half-Life 2 Lost Coast,purchase,NaN,NaN
15,5250,Half-Life Blue Shift,purchase,NaN,NaN
16,5250,Half-Life Opposing Force,purchase,NaN,NaN
17,5250,Portal,purchase,NaN,NaN
18,5250,Ricochet,purchase,NaN,NaN
19,5250,Team Fortress Classic,purchase,NaN,NaN
20,5250,Half-Life 2 Deathmatch,purchase,NaN,NaN
21,76767,Counter-Strike Source,purchase,play,25.0
22,76767,Thief Gold,purchase,NaN,NaN
23,76767,Counter-Strike,purchase,play,365.0
24,76767,Call of Duty World at War,purchase,play,271.0
25,76767,Call of Duty Modern Warfare 2 - Multiplayer,purchase,play,165.0
26,76767,Call of Duty Modern Warfare 2,purchase,play,65.0
27,76767,Banished,purchase,play,24.0
28,76767,Total War ATTILA,purchase,play,207.0
29,76767,Call of Duty Modern Warfare 3,purchase,play,15.9
...,...,...,...,...,...
129505,309058572,Dota 2,purchase,play,5.2
129506,309107542,Dota 2,purchase,play,6.7
129507,309138595,Dota 2,purchase,play,0.8
129508,309167186,Portal 2,purchase,play,1.1
129509,309181805,Brawlhalla,purchase,play,3.2
129510,309181805,Apotheon Arena,purchase,NaN,NaN
129511,309188905,Counter-Strike Nexon Zombies,purchase,play,6.1
129512,309188905,Unturned,purchase,play,0.8
129513,309213952,Dota 2,purchase,play,13.8
129514,309216884,Dota 2,purchase,play,4.0
129515,309228590,Dota 2,purchase,play,0.3
129516,309255941,Mitos.is The Game,purchase,play,5.7
129517,309262440,CrimeCraft GangWars,purchase,NaN,NaN
129518,309262440,A.V.A - Alliance of Valiant Arms,purchase,NaN,NaN
129519,309262440,Team Fortress 2,purchase,play,1.2
129520,309265377,Brawlhalla,purchase,play,2.0
129521,309265377,MicroVolts Surge,purchase,play,0.8
129522,309375103,East India Company Gold,purchase,NaN,NaN
129523,309404240,Mitos.is The Game,purchase,play,2.2
129524,309404240,Unturned,purchase,play,13.0
129525,309404240,Transformice,purchase,play,0.3
129526,309404240,AdVenture Capitalist,purchase,play,0.7
129527,309404240,Team Fortress 2,purchase,play,2.2
129528,309434439,Dota 2,purchase,play,0.8
129529,309554670,Mitos.is The Game,purchase,play,5.9
129530,309626088,Age of Empires II HD Edition,purchase,play,6.7
129531,309812026,Robocraft,purchase,NaN,NaN
129532,309812026,Counter-Strike Nexon Zombies,purchase,NaN,NaN
129533,309824202,Dota 2,purchase,play,0.7
129534,309903146,Dota 2,purchase,play,0.2

In [8]:
save the cleaned data to a pickle file

'cleaned data to a pickle file' was not found in history, as a file, url, nor in the user namespace.

In [9]:
reindex_result.to_pickle('clean_steam_data.pkl')