## Advanced Cleaning of Steam Games Data

In this notebook we try out two different recommenders on [Steam dataset on Kaggle](https://www.kaggle.com/tamber/steam-video-games). We will use:
- ```numpy, pandas, sklearn``` for data preprocessing

The dataset has no header but comes in 5 columns:
- User ID: integer
- Game title: string
- Activity: string (purchase/play)
- Status: float (1.0 if activity is purchase, total number of hours in game if activity is play)
- A column full of 0's, will discard

In [1]:
import pandas as pd
import numpy as np 
import matplotlib
# import matplotlib.pyplot as plt 
import seaborn as sns
import turicreate
import sklearn as sk
from sklearn.preprocessing import Imputer
from sklearn.model_selection import train_test_split

In [2]:
games = pd.read_csv('../steam-200k.csv')
games = games.rename({'151603712':'userId', 'The Elder Scrolls V Skyrim': 'gameName', '1.0':'Actions'}, axis = 1)
games.drop(['0'],axis = 1, inplace = True)
games.head()

      userId                    gameName  purchase  Actions
0  151603712  The Elder Scrolls V Skyrim      play    273.0
1  151603712                   Fallout 4  purchase      1.0
2  151603712                   Fallout 4      play     87.0
3  151603712                       Spore  purchase      1.0
4  151603712                       Spore      play     14.9

### get a sense of the data by displaying some basic properties

In [3]:
games.info()
print("number of distinct users = %d" %games['userId'].nunique()) 
print("number of distinct games = %d" %games['gameName'].nunique())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 199999 entries, 0 to 199998
Data columns (total 4 columns):
userId      199999 non-null int64
gameName    199999 non-null object
purchase    199999 non-null object
Actions     199999 non-null float64
dtypes: float64(1), int64(1), object(2)
memory usage: 6.1+ MB
number of distinct users = 12393
number of distinct games = 5155

According to the description of the dataset, when the value under purchase column is equal to 'purchase', the Actions will always be 1.0. Therefore, those information is considered as redundant and could be nicely cleaned if we split the purchase column into two individual columns representing 'purchase' and 'play'

In [4]:
# split the purchase column to two dataframes and perform an outer join to group highly duplicated row
games_temp = games[games['purchase'] == 'play']
games_temp =games_temp.rename({'purchase':'play'}, axis = 1)
games = games[games.purchase =='purchase']
games.drop(columns = 'Actions', inplace = True)
result = pd.merge(games,games_temp, how='outer', on=['userId','gameName'])
# reindex to group the data associated with the same user together
reindex_result = result.sort_values(by = 'userId')
reindex_result.set_index(np.arange(len(reindex_result.index)))
reindex_result.purchase.replace(['purchase'], [1], inplace=True)
reindex_result.play.replace(['play'], [1], inplace=True)
# check whether the data has been fully merged 
check= reindex_result[reindex_result.purchase != 1]
print(check)

           userId                    gameName  purchase  play  Actions
129534  151603712  The Elder Scrolls V Skyrim       NaN   1.0    273.0

This is very likely an input mistake as it is the only occasion when a game is played but not yet purchased by the user.  we will manually change purchase value to 1 in this case

In [5]:
reindex_result.loc[129534,'purchase'] = 1
reindex_result.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 129535 entries, 41879 to 83172
Data columns (total 5 columns):
userId      129535 non-null int64
gameName    129535 non-null object
purchase    129535 non-null float64
play        70785 non-null float64
Actions     70785 non-null float64
dtypes: float64(3), int64(1), object(1)
memory usage: 10.9+ MB

now we have finish the basic data cleaning.  We could take a deeper look into the data and start some advanced data training to prepare for our recommender system

In [6]:
data_copy = reindex_result

 Again, we can easily get basic information about the data in each column

In [7]:
data_copy.describe()

             userId  purchase     play       Actions
count  1.295350e+05  129535.0  70785.0  70785.000000
mean   1.024410e+08       1.0      1.0     48.770761
std    7.236206e+07       0.0      0.0    228.927258
min    5.250000e+03       1.0      1.0      0.100000
25%    4.548346e+07       1.0      1.0      1.000000
50%    8.605570e+07       1.0      1.0      4.500000
75%    1.542307e+08       1.0      1.0     19.100000
max    3.099031e+08       1.0      1.0  11754.000000

### Some obervations

Above summary shows that ```purchase``` has only a single value 1.0. We will **not** include purchase status in building our recommender, for two reasons:
1. number of hours played is more interesting to look at - it is an implicit feedback of the user's preference for games he/she has purchased
2. if using [Jaccard similarity](https://apple.github.io/turicreate/docs/api/generated/turicreate.recommender.item_similarity_recommender.ItemSimilarityRecommender.html) when measuring the similarity between two sets of elements, the number of hours played are treated as binary purchase status (1/0)

For ```play``` column, the data is heavily skewed and has a large range. There are different ways to do normalization. Since we are going to use it to represent the user's ranking of preference within his / her own purchases, let's convert it to the percentage of hours each user spends on each game he / she owns. 

But before doing that, notice there are 128804 purchase records and only 70489 play records, meaning some users bought certain games but never played them. We need to find a score for those less-favoured games too. To differentiate them from the games that a user has never bought, we can impute the corresponding play fields with a small value less than the min 0.1, say 0.05. Then we can move on to calculate the percentage as planned.

In [8]:
data_copy.drop("purchase", axis = 1, inplace = True)
data_copy["Actions"].fillna(0.05, inplace=True)
data_copy["play"].fillna(0, inplace=True)

just in case there is duplicated row in the dataframe, we implement the following function to ensure that every row in our dataframe will be distinct

In [9]:
#remove duplicates 
data_copy = data_copy.drop_duplicates(subset=None,keep="first")

besides, we could also have duplicated rows with the same userId and gameName appearing together. This might be some mistakes that happen during the data collection stage so that the hours has not been fully merged and accumulated. we wanna sum up the number of hours for the corrections

In [10]:
dp = data_copy[data_copy.duplicated(subset=['userId','gameName'], keep=False)]
dp = dp.groupby(['userId','gameName'], as_index=False)['Actions'].sum()
print(dp)
dp = dp.groupby(['userId','gameName'], as_index=False)['Actions'].sum()
data_copy.update(dp)
data_copy = data_copy.drop_duplicates(subset=['userId','gameName'],keep="first")

       userId                                      gameName  Actions
0    28472068                          Grand Theft Auto III      0.5
1    28472068                  Grand Theft Auto San Andreas      0.9
2    28472068                    Grand Theft Auto Vice City      5.7
3    33865373                   Sid Meier's Civilization IV    137.0
4    50769696                  Grand Theft Auto San Andreas     14.0
5    59925638                       Tom Clancy's H.A.W.X. 2      7.4
6    71411882                          Grand Theft Auto III      1.3
7    71510748                  Grand Theft Auto San Andreas      0.8
8   118664413                  Grand Theft Auto San Andreas      2.1
9   148362155                  Grand Theft Auto San Andreas     26.3
10  176261926                   Sid Meier's Civilization IV     14.8
11  176261926  Sid Meier's Civilization IV Beyond the Sword    564.4

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/pandas/core/frame.py:5516: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[col] = expressions.where(mask, this, that)

Save the dataframe for our popularity model

In [11]:
data_copy.to_pickle('clean_steam_basic.pkl')

We want to standarize our data before feed it into the item similarity collabrative filtering model, there are many ways of doing it. In this case, we replace actual hours played with percentage of hours on a game for each user

In [12]:
d = data_copy.groupby('userId')['Actions'].apply(lambda x: x/ x.sum())
data_copy.update(d)
# convert userId to int
data_copy['userId'] = data_copy['userId'].astype(int)

### Before building the recommender, here is an optional step - indexing the game names with integers
Based on doc of turicreate.recommender.create, the user ID and item ID columns can be either int or str, meaning that keeping the game title as is should be fine. Here let's do an extra step that indexes those strings with integers. (Maybe when we feel less lazy we can try spark.ml's recommender on it too.)

However indexing is essential when you build models with Spark's machine learning libraries.

In [13]:
data_copy['gameId']= data_copy.gameName.astype('category').cat.codes

### Output and save the dataframe

In [14]:
data_copy.to_pickle('clean_steam_advanced.pkl')

### we want to create a look up table for the gameName and gameId columns

In [15]:
data_copy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 128792 entries, 41879 to 83172
Data columns (total 5 columns):
userId      128792 non-null int64
gameName    128792 non-null object
play        128792 non-null float64
Actions     128792 non-null float64
gameId      128792 non-null int16
dtypes: float64(2), int16(1), int64(1), object(1)
memory usage: 5.2+ MB

In [16]:
game_map = data_copy[['gameName','gameId']].copy().drop_duplicates().sort_values(by=['gameId'])
game_map.head()
game_map.to_pickle('gameMap.pkl')
export_csv = game_map.to_csv ('gameList.csv', index = None, header=True)